
  .searchInput {
    width: 500px; 
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ddd; 
    border-radius: 8px; 
    margin-bottom: 10px;
  }
  
  .searchInput:focus {
    outline: none;
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }
  body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/lightimage.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    flex-direction: column;
  }
  .cityname{
    color: whitesmoke;
    font-size: 50px;
  }
  .currenttemp{
    color:white;
    font-size: 40px;
    margin: 0px;
  }
  .forecast-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 50px 70px;
  }
  
  .forecast-blocks-container {
    margin : 100px;
  }
  
  .forecast-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .forecast-block {
    width: 200px;
    height: 150px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    margin: 7px; 
  }