.center-blocks {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin : 50px 150px;
  }
  
  .block {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    border: solid 0.5px gray;
    margin: 5px;
  }
  
  .centered-text {
    text-align: center;
    font-size: 30px;
  }
  h2{
    text-decoration: none;
    font-weight: normal;
  }